# Archivos compilados
src/compiled/
dist/
build/
*.js.map

# Dependencias
node_modules/

# Archivos de configuración local
.env
.env.local

# Logs
*.log
logs/

# Cache
.cache/
.tmp/
.github/copilot-instructions.md
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/EstacionCafé/index.html
coverage/lcov-report/EstacionCafé/main.ts.html
coverage/lcov-report/EstacionCafé/application/dependencyInjection.ts.html
coverage/lcov-report/EstacionCafé/application/index.html
coverage/lcov-report/EstacionCafé/application/Routes/BillDetailsRoute.ts.html
coverage/lcov-report/EstacionCafé/application/Routes/BillRoute.ts.html
coverage/lcov-report/EstacionCafé/application/Routes/CashRegisterRoutes.ts.html
coverage/lcov-report/EstacionCafé/application/Routes/ConsumableRoute.ts.html
coverage/lcov-report/EstacionCafé/application/Routes/ConsumableTypeRoute.ts.html
coverage/lcov-report/EstacionCafé/application/Routes/index.html
coverage/lcov-report/EstacionCafé/application/Routes/IngredientRoute.ts.html
coverage/lcov-report/EstacionCafé/application/Routes/ProductRoute.ts.html
coverage/lcov-report/EstacionCafé/application/Routes/PurchaseRoute.ts.html
coverage/lcov-report/EstacionCafé/application/Routes/routes.ts.html
coverage/lcov-report/EstacionCafé/application/Routes/SupplierRoute.ts.html
coverage/lcov-report/EstacionCafé/application/Routes/UserRoutes.ts.html
coverage/lcov-report/EstacionCafé/application/Routes/UserTypesRoute.ts.html
coverage/lcov-report/EstacionCafé/application/services/BillDetailsService.ts.html
coverage/lcov-report/EstacionCafé/application/services/BillService.ts.html
coverage/lcov-report/EstacionCafé/application/services/CashRegisterService.ts.html
coverage/lcov-report/EstacionCafé/application/services/ConsumableService.ts.html
coverage/lcov-report/EstacionCafé/application/services/ConsumableTypeService.ts.html
coverage/lcov-report/EstacionCafé/application/services/index.html
coverage/lcov-report/EstacionCafé/application/services/IngredientService.ts.html
coverage/lcov-report/EstacionCafé/application/services/ProductService.ts.html
coverage/lcov-report/EstacionCafé/application/services/PurchaseService.ts.html
coverage/lcov-report/EstacionCafé/application/services/SupplierService.ts.html
coverage/lcov-report/EstacionCafé/application/services/UserService.ts.html
coverage/lcov-report/EstacionCafé/application/services/UserTypeService.ts.html
coverage/lcov-report/EstacionCafé/application/validations/BillDetailsValidations.ts.html
coverage/lcov-report/EstacionCafé/application/validations/BillValidations.ts.html
coverage/lcov-report/EstacionCafé/application/validations/CashRegisterValidations.ts.html
coverage/lcov-report/EstacionCafé/application/validations/ConsumableTypeValidations.ts.html
coverage/lcov-report/EstacionCafé/application/validations/ConsumableValidations.ts.html
coverage/lcov-report/EstacionCafé/application/validations/index.html
coverage/lcov-report/EstacionCafé/application/validations/IngredientValidations.ts.html
coverage/lcov-report/EstacionCafé/application/validations/ProductValidations.ts.html
coverage/lcov-report/EstacionCafé/application/validations/PurchaseValidations.ts.html
coverage/lcov-report/EstacionCafé/application/validations/SupplierValidations.ts.html
coverage/lcov-report/EstacionCafé/application/validations/UserTypeValidations.ts.html
coverage/lcov-report/EstacionCafé/application/validations/UserValidations.ts.html
coverage/lcov-report/EstacionCafé/controller/BillController.ts.html
coverage/lcov-report/EstacionCafé/controller/BillDetailsController.ts.html
coverage/lcov-report/EstacionCafé/controller/CashRegisterController.ts.html
coverage/lcov-report/EstacionCafé/controller/ConsumableController.ts.html
coverage/lcov-report/EstacionCafé/controller/ConsumableTypeController.ts.html
coverage/lcov-report/EstacionCafé/controller/index.html
coverage/lcov-report/EstacionCafé/controller/IngredientController.ts.html
coverage/lcov-report/EstacionCafé/controller/ProductController.ts.html
coverage/lcov-report/EstacionCafé/controller/PurchaseController.ts.html
coverage/lcov-report/EstacionCafé/controller/SupplierController.ts.html
coverage/lcov-report/EstacionCafé/controller/UserController.ts.html
coverage/lcov-report/EstacionCafé/controller/UserTypeController.ts.html
coverage/lcov-report/EstacionCafé/core/entities/Bill.ts.html
coverage/lcov-report/EstacionCafé/core/entities/BillDetails.ts.html
coverage/lcov-report/EstacionCafé/core/entities/CashRegister.ts.html
coverage/lcov-report/EstacionCafé/core/entities/Consumable.ts.html
coverage/lcov-report/EstacionCafé/core/entities/ConsumableType.ts.html
coverage/lcov-report/EstacionCafé/core/entities/HistoryLog.ts.html
coverage/lcov-report/EstacionCafé/core/entities/index.html
coverage/lcov-report/EstacionCafé/core/entities/Ingredient.ts.html
coverage/lcov-report/EstacionCafé/core/entities/Producto.ts.html
coverage/lcov-report/EstacionCafé/core/entities/Purchase.ts.html
coverage/lcov-report/EstacionCafé/core/entities/Supplier.ts.html
coverage/lcov-report/EstacionCafé/core/entities/User.ts.html
coverage/lcov-report/EstacionCafé/core/entities/UserType.ts.html
coverage/lcov-report/EstacionCafé/core/enums/index.html
coverage/lcov-report/EstacionCafé/core/enums/Process.ts.html
coverage/lcov-report/EstacionCafé/core/enums/UnitMeasurement.ts.html
coverage/lcov-report/EstacionCafé/infrastructure/db/Connection.ts.html
coverage/lcov-report/EstacionCafé/infrastructure/db/index.html
